{% extends 'content/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="faq">
    <div class="sidebar">
        <ul>
            {% for a in answers %}
            {% if a.pk == selected %}
            <li class="list-group selected">
                <p class="list-group-item">{{ a.title }}</p>
            </li>
            {% else %}
            <li class="list-group"><a href="{% url 'answers' a.id %}" class="list-group-item">{{ a.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="list-group"><a href="{% url 'ask' %}" class="list-group-item add_questions">Задать вопрос</a></li>
        </ul>
    </div>
    <div class="faq_text">
        {% for a in answers %}
        {% if a.pk == selected %}
        <div class="faq_content selected">
        {% else %}
        <div class="faq_content">
        {% endif %}
        {{ a.body|safe }}
        </div>
        {% endfor %}
        {% if ask %}
        <div class="add">
            <form action="{% url 'ask' %}" method="post" class="add_question">
                <h1>{{ title }}</h1>
                {% csrf_token %}
                <div class="add_field">
                    <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
                    {{ form.type }}
                </div>
                <div class="add_field">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div class="add_field">
                    <label for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
                    {{ form.body }}
                </div>
                <div class="add_field">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <button class="add_btn">Отправить</button>
            </form>
        </div>
        {% endif %}
        </div>
    </div>
    {% endblock content %}
