{% extends 'content/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="faq">
    <div class="sidebar">
        <ul>
            {% for q in questions %}
            {% if q.pk == selected %}
            <li class="list-group selected">
                <p class="list-group-item">{{ q.title }}</p>
            </li>
            {% else %}
            <li class="list-group"><a href="{% url 'questions' q.id %}" class="list-group-item">{{ q.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="list-group"><a href="{% url 'faq' %}" class="list-group-item add_questions">Задать вопрос</a></li>
        </ul>
    </div>
    <div class="faq_text">
        {% for q in questions %}
        {% if q.pk == selected %}
        <div class="faq_content selected">
        {% else %}
        <div class="faq_content">
        {% endif %}
            <p>{{ q.content|safe }}</p>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endblock content %}
