{% extends 'content/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="wrap_post">
    <div class="content_post">
        <div class="post">
            <div class="post_image">
                <img src="{{ post.image.url }}" alt="image {{ post.title }}" class="image">
            </div>
            <div class="post_text">
                <div class="save_btn save_post">
                    {% if post.saved %}
                    <a href="{% url 'saved_remove' post.id %}" class="btn saved">сохранено</a>
                    {% else %}
                    <a href="{% url 'saved_add' post.id %}" class="btn save">сохранить</a>
                    {% endif %}
                </div>
                <div class="more_info">
                    {% if post.source_link %}
                    <a href="{{ post.source_link }}">Источник</a>
                    {% endif %}
                    {% if post.content %}
                    <div class="post_content">
                        <p class="text_content">Описание</p>
                        {{ post.content|linebreaks }}
                    </div>
                    {% endif %}
                </div>
                {% if post.owner %}
                <div class="container_owner">
                    <div class="owner">
                        <div class="owner_image">
                            <a href="{% url 'profile' post.owner.username %}">
                                <img src="{{ post.owner.img.url }}" alt="image {{ post.owner.username }}" class="image"></a>
                        </div>
                        <div class="owner_info">
                            <a href="{% url 'profile' post.owner.username %}">{{ post.owner.username }}</a>
                            <p>{{ subscribers_count }} подписчик</p>
                        </div>
                    </div>
                    {% if is_subscriber %}
                    <div class="owner knop">
                        <a href="{% url 'unsubscribe' post.owner.username %}" class="btn unsub">отписаться</a>
                    </div>
                    {% else %}
                    <div class="owner knop">
                        <a href="{% url 'subscribe' post.owner.username %}" class="btn sub">подписаться</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="cats">
                    <p class="text_content">Тэги</p>
                    <ul>
                        {% for cat in post.cat.all %}
                        <li>
                            <a href="{{ cat.get_absolute_url }}">#{{ cat.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="commentList">
                    <p class="text_content">Комментарии:</p>
                    {% if not post.review_set.all %}
                    <p>Здесь пока пусто</p>
                    {% endif %}
                    {% for comment in post.review_set.all %}
                    <div class="comment">
                        <div class="comment_owner">
                            <a href="{% url 'profile' comment.owner.username %}">
                                <img class="image" src="{{ comment.owner.img.url }}" alt="image {{ comment.owner.username }}"/>
                            </a>
                        </div>
                        <a href="{% url 'profile' comment.owner.username %}" class="comment_author">
                            {{ comment.owner.username }}</a>
                        <div class="comment_details">
                            <p class="comment_body">{{ comment.body|linebreaksbr }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="form_comment">
                <span class="icon-like">
                    <p>{{ post.likes }}</p>
                    {% if post.liked %}
                    <a href="{% url 'remove-like' post.id %}"><i class="fa-solid fa-heart icn-like"></i></a>
                    {% else %}
                    <a href="{% url 'like' post.id %}"><i class="fa-regular fa-heart icn-like"></i></a>
                    {% endif %}
                </span>
                <form action="{% url 'comment' post.slug %}" method="POST">
                    {% csrf_token %}
                    <div class="form_field">
                        {% if request.user.is_authenticated %}
                        <div class="current_user">
                            <img src="{{ user.img.url }}" alt="image {{ user.username }}" class="image">
                        </div>
                        {% endif %}
                        {{ form_comment.body }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
