{% extends 'content/base.html' %}
{% load static %}
{% load humanize %}
{% block css %}
<link href="{% static 'css/messages.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
{% if previous_page %}
<div class="previous_page">
    <a href="{{ previous_page }}" class="prev_page">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</div>
{% endif %}

<div class="wrap_post">
    <div class="content_post">
        <h1>Чат с пользователем {{ sender }}</h1>
        <div class="chat">
            {% for mes in message %}
            {% if mes.sender == request.user %}
            <div class="mess right">
            {% else %}
            <div class="mess left">
            {% endif %}
                <span>{{ mes.created|naturalday }}</span>
                {{ mes.body }}
            </div>
            {% endfor %}
        </div>
        <form action="{% url 'add-message' sender %}" enctype="multipart/form-data" id="message-form" method="post">
            {% csrf_token %}
            {{ form.body }}
            <button><i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
</div>
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
