{% extends 'content/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/messages.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!-- Main Section -->
<main class="inbox">
    <div class="content-box">
        <h3 class="inbox__title">Новых сообщений: (<span>{{ unread_messages }}</span>)</h3>
        <ul class="messages">
            {% for mes in message %}
            {% if mes.is_read %}
            <li class="message">
            {% else %}
            <li class="message message--unread">
            {% endif %}
                <div class="sender_image">
                    <a href="#"><img src="{{ mes.sender.img.url }}" class="image"></a>
                </div>
                <div class="message_text">
                    <a href="{{ mes.get_absolute_url }}">
                        <div class="header_message">
                            <span class="message__author">{{ mes.sender.username }}</span>
                            <span class="message__date">{{ mes.created|date:'d/m/Y' }}</span>
                        </div>
                        <span class="message__body">{{ mes.body|slice:50 }}</span>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock content %}
