{% extends 'content/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<div class="user">
    <div class="user_image">
        <img src="{{ user.img.url }}" alt="{{ user.username }}" class="image">
    </div>
    <div class="username">@{{ user.username }}</div>
    {% if user.first_name %}
    <div class="name">Имя: {{ user.first_name }}</div>
    {% else %}
    <div class="name">Имя: Инкогнито</div>
    {% endif %}
    {% if user.source_link %}
    <div class="name">
        <a href="{{ user.source_link }}">Ссылка на контент пользователя</a>
    </div>
    {% endif %}
    <div class="subs">{{ subscribers_count }} подписчиков</div>
    {% if user == request.user %}
    <div class="change_profile">
        <a href="{% url 'edit-profile' %}" class="btn change">изменить профиль</a>
    </div>
    {% else %}
    <div class="interaction">
        <div class="change_profile knop">
            <a href="{% url 'chat' user.username %}" class="btn mes">написать</a>
        </div>
        <div class="change_profile knop">
            {% if is_subscriber %}
            <a href="{% url 'unsubscribe' user.username %}" class="btn unsub">отписаться</a>
            {% else %}
            <a href="{% url 'subscribe' user.username %}" class="btn sub">подписаться</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="users_content">
        <div class="create active">Созданные</div>
        <div class="saved">Сохраненные</div>
    </div>
</div>
<div class="users_main">
    <div class="content-c active">
        {% if not user.content_set.all %}
        <div class="text">
            {% if user == request.user %}
            <p>Здесь пока ничего нет. Тут будут отображаться изображения, которые вы создадите.</p>
            <div class="button">
                <a href="{% url 'add_post' %}">Создать идею</a>
            </div>
            {% else %}
            <p>Здесь пока ничего нет. Тут будут отображаться изображения, которые {{user.username}} создаст</p>
            {% endif %}
        </div>
        {% else %}
        <div class="create_post">
            {% for post in user.content_set.all %}
            <div class="card">
                <div class="pict">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{{ post.image.url }}" alt="image {{ post.title }}" class="image">
                    </a>
                </div>
                <div class="post_owner">
                    <img src="{{ post.owner.img.url }}" alt="image {{ post.owner.username }}" class="owner_image">
                    <p>{{ post.owner.username }}</p>
                </div>
                <div class="details" onclick="window.location='{{ post.get_absolute_url }}'">
                    <h2>{{ post.title|linebreaks|truncatewords:20 }}</h2>
                    <div class="save_btn">
                        {% if post in saved_current %}
                        <a href="{% url 'saved_remove' post.id %}" class="btn saved">сохранено</a>
                        {% else %}
                        <a href="{% url 'saved_add' post.id %}" class="btn save">сохранить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="content-s">
        {% if not saved_posts %}
        <div class="text">
            {% if user == request.user %}
            <p>Здесь пока ничего нет. Тут будут отображаться изображения, которые вы сохраните.</p>
            <div class="button">
                <a href="{% url 'index' %}">Найти идею</a>
            </div>
            {% else %}
            <p>Здесь пока ничего нет. Тут будут отображаться изображения, которые {{user.username}} сохранит.</p>
            {% endif %}
        </div>
        {% else %}
        <div class="saved_post">
            {% for post in saved_posts %}
            <div class="card">
                <div class="pict">
                    <a href="{{ post.content.get_absolute_url }}">
                        <img src="{{ post.image.url }}" alt="image {{ post.title }}" class="image">
                    </a>
                </div>
                <div class="post_owner">
                    <img src="{{ post.owner.img.url }}" alt="image {{ post.owner.username }}" class="owner_image">
                    <p>{{ post.owner.username }}</p>
                </div>
                <div class="details" onclick="window.location='{{ post.get_absolute_url }}'">
                    <h2>{{ post.title|linebreaks|truncatewords:20 }}</h2>
                    <div class="save_btn">
                        {% if post in saved_current %}
                        <a href="{% url 'saved_remove' post.id %}" class="btn saved">сохранено</a>
                        {% else %}
                        <a href="{% url 'saved_add' post.id %}" class="btn save">сохранить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
