{% extends 'content/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/reset.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="card">
    <div class="card-header"><h3 class="text">Восстановление пароля завершено</h3>
    </div>
    <div class="card-body">
        <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
    </div>
    <div class="card-footer">
        <div class="small"><a href="{% url 'login' %}" class="button">Войти</a></div>
    </div>
</div>
{% endblock %}
