{% extends 'content/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/reset.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="card">
    <div class="card-header"><h3>Восстановление пароля</h3>
    </div>
    <div class="card-body">
        <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим вам инструкцию по установке нового пароля на
            указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее
            время.</p>
    </div>
    <div class="card-form">
        <form class="form" method="post">
            <div class="form__field">
                {% csrf_token %}
                <p class="label">{{ form.email.label }}</p>
                <p>{{ form.email }}</p>
            </div>
            <input type="submit" value="Восстановить мой пароль" class="button">
        </form>
    </div>
    <div class="card-footer">
        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте
            папку со спамом.</p>
    </div>
</div>
{% endblock %}