.wrap {
    max-width: 1300px;
    min-width: 692px;
    margin: 0 auto;
}

.faq {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sidebar {
    /*-ms-flex: 0 0 25%;*/
    flex: 0 0 20%;
    max-width: 20%;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group.selected p {
    background: greenyellow;
}

.list-group:hover a {
    background: yellowgreen;
}

.list-group-item {
    /*text-transform: uppercase;*/
    font-size: 18px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.45rem;
}

/*a {*/
/*    color: #008819;*/
/*    text-decoration: none;*/
/*    background-color: transparent;*/
/*}*/

.faq_text {
    position: relative;
    margin: 12px 0;
}

.faq_content {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
}

.faq_content.selected {
    display: block;
}

.add_questions {
    color: orangered;
    background: lightyellow;
    margin-top: 20px;
}

@media (min-width: 992px) {
    .faq_text {
        -ms-flex: 0 0 75%;
        flex: 0 0 80%;
        max-width: 80%;
    }
}


/* Задать вопрос */
.add {
    position: relative;
    width: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px;
}

.add_question {
    width: 100%;
}

.add_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add_field label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.add_field .form-input, .add_field select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.add_btn {
    border: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    background: red;
    color: #fff;
    font-size: 1.2em;
    margin: 0 auto 20px;
    cursor: pointer;
}


@media (max-width: 992px) {
    .faq_content {
        width: 90vh;
    }
}

@media (max-width: 892px) {
    .faq_content {
        width: 80vh;
    }

    .list-group-item {
        width: 170px;
    }
}

@media (max-width: 792px) {
    .faq_content {
        width: 70vh;
    }
    .sidebar{
        margin-right: 20px;
    }
}

@media (max-width: 692px) {
    .faq_content {
        width: 60vh;
    }
    .sidebar{
        margin-right: 30px;
    }
}






