/* Сообщения */
.inbox {
    max-width: 60%;
    margin: 0 auto;
}

.inbox__title,
.inbox__title span {
    font-size: 2rem;
    font-weight: 700;
    color: green;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0.5em;
    /*margin: 0 3rem 1em;*/
}

.inbox__title span {
    margin: 0;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    background: #c8ffec;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 10px 10px 4px;
    min-width: 660px;
}

.message--unread{
    background: pink;
}

.sender_image {
    max-width: 60px;
    max-height: 60px;
    margin: 20px 10px;
    overflow: hidden;
    border-radius: 50%;
}

.message_text {
    width: 100%;
}
.message_text > * {
    font-size: 1.2em;
    color: #000;
}
.message_text > *:hover {
    color: #0056b3;
}

.header_message {
    display: flex;
    margin-bottom: 3px;
}

.header_message > * {
    margin: 7px;
}

.message__date {
    flex-basis: 100%;
    text-align: right;
    margin: 7px;
}

.message__body {
    margin-left: 30px;
}


/* Страница чата */
.content_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 89vh;
    width: 70%;
    margin: 0 auto;
    position: relative;
    background: #c8ffec;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 15px 8px 8px 18px;
}

.content_post h1{
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    border-bottom: 1px solid #178066;
    color: darkcyan;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.chat {
    overflow: auto;
    margin-top: auto;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mess {
    margin: 10px;
    background: #27dfac;
    padding: 10px;
    width: 350px;
    word-wrap: break-word;
}

.right {
    margin-left: auto;
    border-radius: 30px 30px 0 30px;
}


.left {
    margin-right: auto;
    border-radius: 30px 30px 30px 0;
}

#message-form {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #eefcf0;
}

.message_input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 50px;
    width: 100%;
    font-size: 1.2em;
}


button{
    width: 50px;
    border: 1px solid #27dfac;
    border-radius: 10px;
}

.previous_page {
    text-align: center;
    padding: 3px;
    border-radius: 50%;
    width: 40px;
    top: 100px;
    left: 10px;
    position: absolute;
    font-size: 1.7em;
}

.previous_page:hover {
    background: #ccc;
}


.mess span{
    display: flex;
    justify-content: flex-end;
    color: lightyellow;
    margin-bottom: 10px;
}

.mess.left span{
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 1066px) {
    .content_post{
        width: auto;
    }
}

@media (max-width: 850px) {
    .inbox{
        max-width: inherit;
    }
}

















