/* Контент Изображений */
.main {
    width: 100%;
    padding: 0 20px;
    column-gap: 10px;
    columns: 6;
}


.main .card {
    max-width: 280px;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.pict{
    border-radius: 30px;
    overflow: hidden;
}

.post_owner {
    display: flex;
    align-content: center;
    flex-direction: row;
    text-align: center;
    padding: 5px 5px 5px 15px;
    font-weight: 500;
    font-size: 1em;
    border-radius: 30px;
    align-items: center;
}


.owner_image {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.post_owner p{
    margin-left: 10px;
    color: #000;
}


.details {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
    cursor: pointer;
}

.card:hover .details {
    right: 0;
}

.details h2 {
    overflow-wrap: break-word;
    word-break: break-word;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.details p.owner {
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 10px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 1000000;
}

/* Категории */
.catbar {
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.catbar h2,
.catbar .toggle_cat {
    display: inline;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1fab89;
    margin-right: 5px;
}

.catbar .toggle_cat {
    cursor: pointer;
}

.catbar h2 a {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 5px;
}

.midbar {
    position: relative;
    /*display: none;*/
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.midbar.open {
    height: 8rem;
}

.midbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    /*width: 320px;*/
    margin: 20px 70px 0;
    /*margin-right: 40px;*/
    /*margin-top: 20px;*/
}

.midbar ul li {
    position: relative;
    display: inline-block;
    margin: 0 4px 8px;
    border-radius: 30px;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.midbar a {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.midbar img {
    width: 100%;
    object-fit: cover;
}

.cat_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.cat_text a {
    font-size: 2em;
    color: #178066;
    -webkit-text-stroke: 1px #fff;
}

.selected {
    /*    font-weight: bold;*/
    border: 3px solid greenyellow;
}

/*Страница Поста */
.wrap_post {
    /*max-height: 890px;*/
    display: flex;
    justify-content: center;
}

.content_post {
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 20px 0;
    border-radius: 32px;
    /*height: 700px;*/
    height: 600px;
}

.post {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.post_image .image {
    /*max-height: 650px;*/
    /*max-width: 600px;*/
    max-height: 550px;
    max-width: 500px;
    float: left;
    border-radius: 40px;
    overflow: hidden;
    margin: 20px;
}

.post_text {
    /*height: 600px;*/
    width: 400px;
    margin: 50px;
    overflow: auto;
    word-wrap: break-word;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_owner {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #ffeeff;
    justify-content: space-between;
}

.owner {
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.owner_image {
    max-height: 80px;
    max-width: 80px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
}

.owner_info {
    display: flex;
    flex-direction: column;
}

.save {
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-size: 1em;
    border-radius: 30px;
    background: #178066;
    height: 30px;
    width: 120px;
}

.container_owner button {
    background: red;
    width: 150px;
    height: 50px;
}


/*Форма добавления поста*/
.add {
    position: relative;
    width: 800px;
    /*height: 500px;*/
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.add_post h1 {
    text-align: center;
    margin: 10px auto;
    color: #178066;
}

.add_image {
    position: relative;
    display: inline-block;
}

.add_image input {
    display: none;
}

/* Стили для кастомного лейбла */
.file-label {
    margin: 20px auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: #1fab89;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

/* Стили для hover-состояния лейбла */
.file-label:hover {
    background-color: #0056b3;
}

.add_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add_field label, .add_field p,
.toggle_content {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.add_field .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.toggle_content {
    border-radius: 20px;
    background: lightgray;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.toggle_content.close {
    border-radius: 0;
    background: transparent;
    text-align: left;
    padding: 0;
    cursor: none;
}

.add_content {
    display: none;
}

.add_content.open {
    display: block;
}

.add_field textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /* Фиксированная высота и длина */
    height: 100px; /* Замените на желаемую высоту */
    width: 100%; /* Замените на желаемую ширину */
    resize: none;
}

.add_field.last {
    margin-bottom: 0;
}

/* Стили для элемента select */
#id_cat {
    /* Убираем стандартный стиль выпадающего списка */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;

    /* Добавляем пользовательский фон и границу */
    background-color: transparent;
    border: none;
    /* Делаем элемент с относительным позиционированием */
    position: relative;
    /* Устанавливаем минимальную ширину, чтобы было место для отображения option */
    min-width: 100px; /* Замените на желаемую ширину */
    /* Устанавливаем высоту элемента select */
    height: auto;
    max-height: 80px;
    /* Задаем стили для текста внутри элемента select */
    font-size: 14px; /* Замените на желаемый размер шрифта */
    padding: 10px; /* Замените на желаемый внутренний отступ */
    outline: none;
}

/* Стили для option внутри элемента select */
#id_cat option {
    /* Делаем option блочными элементами и выстраиваем их горизонтально */
    display: block;
    float: left;
    /* Задаем внутренний отступ и отступ справа для option */
    padding: 7px;
    margin-right: 10px;

    border: 1px solid #30ed11;
    border-radius: 20px;
    /* Устанавливаем курсор указателя при наведении на option */
    cursor: pointer;
    white-space: normal;
}

#id_cat option:checked {
    background: #27dfac;
}

/* Очищаем стили для последнего option в списке, чтобы убрать отступ */
select option:last-child {
    margin-right: 0;
}

.add_btn {
    border: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    background: red;
    color: #fff;
    font-size: 1.2em;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .main {
        columns: 4;
    }

}

@media (max-width: 660px) {
    .main {
        columns: 2;
    }
}

