.user {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_image {
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.user > * {
    margin-bottom: 7px;
}

.user .username {
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.user .name {
    font-size: 0.9rem;
    font-weight: 400;
}

.user .subs {
    font-size: 1rem;
    font-weight: 500;
}

.interaction {
    display: flex;
    margin: 7px 0;
}

.change_profile {
    cursor: pointer;
    margin-left: 7px;
}

.change_profile a,
.change_profile a:hover,
.text a,
.text a:hover {
    color: #fff;
}


.users_content {
    display: flex;
    margin-bottom: 30px;
}

.users_content .create,
.users_content .saved {
    display: flex;
    height: 50px;
    width: 130px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}

.users_content .create.active,
.users_content .saved.active {
    border-bottom: 2px solid black;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.text > * {
    margin: 4px;
}

.text .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #1fab89;
    border-radius: 25px;
    cursor: pointer;
}

.text .button:hover {
    background: #178066;
}


.content-c, .content-s {
    position: relative;
    width: 100%;
    display: none;
}

.content-c.active, .content-s.active {
    display: block;
}

.create_post, .saved_post {
    position: absolute;
    padding: 0 20px;
    column-gap: 10px;
    columns: 6;
}

.users_main .card {
    max-width: 280px;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}


.card:hover .details {
    right: 0;
}

.details h2 {
    overflow-wrap: break-word;
    word-break: break-word;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.details p.owner {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 1000000;
}

/* Изменение профиля */
.edit {
    position: relative;
    width: 800px;
    /*height: 500px;*/
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

form {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 30px 50px 10px;
}

.add_image {
    display: none;
}

.file-label {
    margin: 20px auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: #1fab89;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}


.add_post h1 {
    padding-top: 20px;
    text-align: center;
    margin: 10px auto;
    color: #178066;
}

.add_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add_field label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.add_field .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add_btn {
    left: 0;
    bottom: 0;
    position: absolute;
    border: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    background: red;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

@media (max-width: 824px) {
    form {
        height: auto;
        display: block;
    }

    .edit{
        width: auto;
    }
}



